%li
	=task.title
	- if task.closed?
		= link_to 'Open', open_user_task_path(@user, task), method: :patch
	- else
		= link_to 'Complete', close_user_task_path(@user, task), method: :patch
	= link_to "delete", user_task_path(@user, task), method: :delete, data: { confirm: "You sure?" }, title: task.title