body{
	background:white;
}

*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.page-header{
	padding:4em 0;
	text-align:center;
	h1{
		margin:0;
		span{
			display:block;
			color:#aaa;
		}
	}
}
.page-content{
	overflow:hidden;
}

.container{
	max-width:960px;
	margin:0 auto;
}