/**** Timer ****/

.countdownHolder{
  .position{
    background:#666;
    color:white;
    display:inline-block;
    height:34px;
    width:26px;
    line-height: 34px;
    text-align: center;
    margin-right:-1px;
    font-size:14px;
    position: relative;
    border-radius:2px;
    span{
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      line-height: 34px;
    }
  }
  .countHours, .countDays, .countMinutes, .countSeconds{
    display:inline-block;
    margin:0 14px 0 0;
    position: relative;
    &:after{
      content:":";
      position:absolute;
      top:0;
      bottom:0;
      right:-9px;
      line-height: 34px;
    }
  }
  .countSeconds{
    &:after{
      content:none;
    }
  }
}

/**** Buttons ****/

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 18px 27px;
  color:white;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
  background:#aaa;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size:16px;
}

.hide{
  display:none;
}