/**** Timer ****/

#countdown{
  span.n{
    background:white;
    color:#199606;
    display:inline-block;
    height:44px;
    width:32px;
    line-height: 44px;
    text-align: center;
    position: relative;
    border-radius:2px;
    margin:0 1px;
    &:nth-child(odd){
      margin-right:5px;
    }
    &:nth-child(even){
      margin-left:5px;
    }
  }
  span.overtime{
    display:none;
  }
}

/**** Buttons ****/

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 18px 27px;
  color:white;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
  background:#aaa;
  @include body-font;
  &.button-border{
    color:#0a4900;
    border:2px solid #0a4900;
    background:none;
    font-weight:normal;
    padding:20px 46px 24px 46px;
    &:hover{
      background:#0a4900;
      color:#199606;
    }
  }
}

.hide{
  display:none;
}

/**** Clearfix ****/
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}